.difficulty {
  min-width: 65px;
  margin-right: 18px;
}
.label.difficulty {
  padding-top: 0.6em;
  color: #fbfdfa;
  font-size: 12px;
}
.title {
  font-size: 1.2em;
}
.diff-easy {
  background-color: #42ebf4;
}
.diff-medium {
  background-color: #92cf5c;
}
.diff-hard {
  backgroud-color: #dd8dle;
}
.diff-super{
  background-color: #8d16e2;
}
